/**
 * Astra Theme compatibility with Elementor
 */

.ast-left-sidebar,
.ast-right-sidebar {
	.elementor-section.elementor-section-stretched {
		max-width: 100%;
		left: 0 !important;
	}
}

// Add Default elementor styling to the post article when elementor prodct widget is used.
.elementor-post {
	&.elementor-grid-item{
		&.hentry{
			margin-bottom: 0;
		}
	}
}

// Add Default elementor styling to the product list when elementor product widget is used.
	.elementor-element{
		.elementor-wc-products{
			.woocommerce[class*='columns-']{
				ul.products{
					li.product{
						width: auto;
						margin: 0;
						float: none;
					}
				}
			}
		}
	}
	
// Add Default elementor styling to the product list when elementor related product widget is used.
.woocommerce {
	div.product {
		.elementor-element.elementor-products-grid {
				.related.products {
					ul.products {
						li.product{
							width: auto;
							margin: 0;
							float: none;
						}
					}
				}
			}
		}
	}
